{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body style="position: relative">
    <h1>{{role}} Panel</h1>

    <div style="position: absolute; top: 20px; right: 15px">
      <a href="{% url 'profile' request.user.id role %}"
        ><button class="button-34">Profile</button></a
      >
      <a href="{% url 'logout' %}"><button class="button-34">Logout</button></a>
    </div>

    {% if role == 'Admin' %}

    <div style="display: flex; justify-content: center; margin: 1rem auto">
      <div class="buttons">
        <a href="{% url 'add-medicine' 'Admin' %}"
          ><button class="button-34">Add Medicine</button></a
        >
        <a href="{% url 'signup' 'Doctor' %}"
          ><button class="button-34">Add Doctor</button></a
        >
        <a href="{% url 'signup' 'Patient' %}"
          ><button class="button-34">Add Patient</button></a
        >
        <a href="{% url 'signup' 'Nurse' %}"
          ><button class="button-34">Add Nurse</button></a
        >
      </div>
    </div>

    <div class="grid">
      <div class="docs">
        <h2 style="text-align: center">Doctors</h2>
        {% if doctors %} {%for doctor in doctors%}
        <div id="user">
          <p><span>Username</span>: {{doctor.user.username}}</p>
          <p>
            <span>Name</span>: {{doctor.user.first_name}}
            {{doctor.user.last_name}}
          </p>
          <p><span>Age</span>: {{doctor.user.age}}</p>
          <p><span>Specialization</span>: {{doctor.specialization}}</p>
          <p><span>Degree</span>: {{doctor.degree}}</p>
          <div style="display: flex; justify-content: center; flex-wrap: wrap">
            <div style="margin-left: 2rem">
              <a href="{% url 'update' 'Doctor' doctor.id role %}"
                ><button class="button-34">Update</button></a
              >
              <a href="{% url 'delete' 'Doctor' doctor.user.id role %}"
                ><button class="button-34">Delete</button></a
              >
              <a href="{% url 'add-prescription' doctor.id %}"
                ><button style="margin: 0.5rem 0.5rem" class="button-34">
                  Add Prescription
                </button></a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>

      <div class="patients">
        <h2 style="text-align: center">Patients</h2>
        {% if patients %} {%for patient in patients%}
        <div id="user">
          <p><span>Username</span>: {{patient.user.username}}</p>
          <p>
            <span>Name</span>: {{patient.user.first_name}}
            {{patient.user.last_name}}
          </p>
          <p><span>Age</span>: {{patient.user.age}}</p>
          <p><span>Mobile Phone</span>: {{patient.mobile_phone}}</p>
          <p><span>Disease</span>: {{patient.disease.name}}</p>
          <p><span>Disease Stage</span>: {{patient.disease.stage}}</p>
          {% if patient.doctor %}
          <p>
            <span>Doctor</span>: Dr. {{patient.doctor.user.first_name}}
            {{patient.doctor.user.last_name}}
          </p>
          {% else %}
          <p><span>Doctor</span>: None</p>
          {% endif %}
          <div style="display: flex; justify-content: center">
            <div>
              <a href="{% url 'update' 'Patient' patient.id role %}"
                ><button class="button-34">Update</button></a
              >
              <a href="{% url 'delete' 'Patient' patient.user.id role %}"
                ><button class="button-34">Delete</button></a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>

      <div class="nurses">
        <h2 style="text-align: center">Nurses</h2>
        {% if nurses %} {%for nurse in nurses%}
        <div id="user">
          <p><span>Username</span>: {{nurse.user.username}}</p>
          <p>
            <span>Name</span>: {{nurse.user.first_name}}
            {{nurse.user.last_name}}
          </p>
          <p><span>Age</span>: {{nurse.user.age}}</p>
          <p><span>Mobile Phone</span>: {{nurse.mobile_phone}}</p>

          {% if nurse.doctor %}
          <p>
            <span>Assigned To</span>: Dr. {{nurse.doctor.user.first_name}}
            {{nurse.doctor.user.last_name}}
          </p>
          {% else %}
          <p><span>Assigned To</span>: None</p>
          {% endif %}
          <div style="display: flex; justify-content: center">
            <div>
              <a href="{% url 'update' 'Nurse' nurse.id role %}"
                ><button class="button-34">Update</button></a
              >
              <a href="{% url 'delete' 'Nurse' nurse.user.id role %}"
                ><button class="button-34">Delete</button></a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>
      <div class="medicines">
        <h2 style="text-align: center">Medicines</h2>
        {% if medicines %} {%for medicine in medicines%}
        <div id="user">
          <p><span>Name</span>: {{medicine.name}}</p>
          <p><span>Dose</span>: {{medicine.dose}} mg</p>
          <p><span>Manufacturer</span>: {{medicine.manufacturer}}</p>
          <div style="display: flex; justify-content: center">
            <div>
              <a href="{% url 'update-medicine' role medicine.id %}"
                ><button class="button-34">Update</button></a
              >

              <a href="{% url 'delete-medicine' role medicine.id %}"
                ><button class="button-34">Delete</button></a
              >
            </div>
          </div>
        </div>

        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>
    </div>

    {% elif role == 'Doctor' %}

    <div style="display: flex; justify-content: center; margin: 1rem auto">
      <div class="buttons">
        <a href="{% url 'signup' 'Patient' %}"
          ><button class="button-34">Add Patient</button></a
        >
        <a href="{% url 'signup' 'Nurse' %}"
          ><button class="button-34">Add Nurse</button></a
        >
        <a href="{% url 'add-medicine' 'Doctor' %}"
          ><button class="button-34">Add Medicine</button></a
        >
        <a href="{% url 'add-prescription' user.id %}"
          ><button style="margin: 0.5rem 0.5rem" class="button-34">
            Add Prescription
          </button></a
        >
      </div>
    </div>
    <div class="grid">
      <div class="patients">
        <h2 style="text-align: center">Patients</h2>
        {% if patients %} {%for patient in patients%}
        <div id="user">
          <p><span>Username</span>: {{patient.user.username}}</p>
          <p>
            <span>Name</span>: {{patient.user.first_name}}
            {{patient.user.last_name}}
          </p>
          <p><span>Age</span>: {{patient.user.age}}</p>
          <p><span>Mobile Phone</span>: {{patient.mobile_phone}}</p>
          <p><span>Disease</span>: {{patient.disease.name}}</p>
          <p><span>Disease Stage</span>: {{patient.disease.stage}}</p>
          {% if patient.doctor %}
          <p>
            <span>Doctor</span>: Dr. {{patient.doctor.user.first_name}}
            {{patient.doctor.user.last_name}}
          </p>
          {% else %}
          <p><span>Doctor</span>: None</p>
          {% endif %}
          <div style="display: flex; justify-content: center">
            <div>
              <a href="{% url 'update' 'Patient' patient.id role %}"
                ><button class="button-34">Update</button></a
              >
              <a href="{% url 'delete' 'Patient' patient.user.id role %}"
                ><button class="button-34">Delete</button></a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>

      <div class="nurses">
        <h2 style="text-align: center">Nurses</h2>
        {% if nurses %} {%for nurse in nurses%}
        <div id="user">
          <p><span>Username</span>: {{nurse.user.username}}</p>
          <p>
            <span>Name</span>: {{nurse.user.first_name}}
            {{nurse.user.last_name}}
          </p>
          <p><span>Age</span>: {{nurse.user.age}}</p>
          <p><span>Mobile Phone</span>: {{nurse.mobile_phone}}</p>

          {% if nurse.doctor %}
          <p>
            <span>Assigned To</span>: Dr. {{nurse.doctor.user.first_name}}
            {{nurse.doctor.user.last_name}}
          </p>
          {% else %}
          <p><span>Assigned To</span>: None</p>
          {% endif %}
        </div>
        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>

      <div class="medicines">
        <h2 style="text-align: center">Medicines</h2>
        {% if medicines %} {%for medicine in medicines%}
        <div id="user">
          <p><span>Name</span>: {{medicine.name}}</p>
          <p><span>Dose</span>: {{medicine.dose}} mg</p>
          <p><span>Manufacturer</span>: {{medicine.manufacturer}}</p>
          <div style="display: flex; justify-content: center">
            <div>
              <a href="{% url 'update-medicine' role medicine.id %}"
                ><button class="button-34">Update</button></a
              >

              <a href="{% url 'delete-medicine' role medicine.id %}"
                ><button class="button-34">Delete</button></a
              >
            </div>
          </div>
        </div>

        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>
    </div>

    {% elif role == 'Nurse' %}

    <div style="display: flex; justify-content: center; margin: 1rem auto">
      <a href="{% url 'add-medicine' role %}"
        ><button class="button-34">Add Medicine</button></a
      >
    </div>

    <div class="grid" style="justify-content: center">
      <div class="patients">
        <h2 style="text-align: center">Assigned Patients</h2>
        {% if patients %} {%for patient in patients%}
        <div id="user">
          <p><span>Username</span>: {{patient.user.username}}</p>
          <p>
            <span>Name</span>: {{patient.user.first_name}}
            {{patient.user.last_name}}
          </p>
          <p><span>Age</span>: {{patient.user.age}}</p>
          <p><span>Mobile Phone</span>: {{patient.mobile_phone}}</p>
          <p><span>Disease</span>: {{patient.disease.name}}</p>
          <p><span>Disease Stage</span>: {{patient.disease.stage}}</p>
          {% if patient.doctor %}
          <p>
            <span>Doctor</span>: Dr. {{patient.doctor.user.first_name}}
            {{patient.doctor.user.last_name}}
          </p>
          {% else %}
          <p><span>Doctor</span>: None</p>
          {% endif %}
        </div>
        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>

      <div class="medicines">
        <h2 style="text-align: center">Medicines</h2>
        {% if medicines %} {%for medicine in medicines%}
        <div id="user">
          <p><span>Name</span>: {{medicine.name}}</p>
          <p><span>Dose</span>: {{medicine.dose}} mg</p>
          <p><span>Manufacturer</span>: {{medicine.manufacturer}}</p>
          <div style="display: flex; justify-content: center">
            <div>
              <a href="{% url 'update-medicine' role medicine.id %}"
                ><button class="button-34">Update</button></a
              >

              <a href="{% url 'delete-medicine' role medicine.id %}"
                ><button class="button-34">Delete</button></a
              >
            </div>
          </div>
        </div>

        {% endfor %} {% else %}
        <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
          No Data Found
        </h3>
        {% endif %}
      </div>
    </div>

    {% elif role == 'Patient' %}
    <div class="prescriptions">
      <h2 style="text-align: center; margin-top: 1rem">Prescriptions</h2>
      {% if prescriptions %} {%for prescription in prescriptions%}
      <div id="user">
        <p>
          <span>Doctor Name</span>:Dr. {{prescription.doctor.user.first_name}}
          {{prescription.doctor.user.first_name}}
        </p>
        <p>
          <span>Patient Name</span>: {{prescription.patient.user.first_name}}
          {{prescription.doctor.user.first_name}}
        </p>
        <p><span>Date</span>: {{prescription.date_created}}</p>
        <p><span>Description</span>: {{prescription.description}}</p>
        <h3 style="text-align: center; margin: 0.8rem auto; color: #198754">
          <i class="fa-sharp fa-solid fa-tablets"></i>
          Recommended Medicines
        </h3>

        <ul style="list-style-type: none">
          {% for medicine in prescription.medicines.all %}
          <li>
            <span>Medicine Name</span>: {{ medicine.name }}
            <span style="margin-left: 0.3rem">({{medicine.dose}} mg)</span>
          </li>

          {% empty %}
          <li>No medicines found for this prescription.</li>
          {% endfor %}
        </ul>
        <div style="display: flex; justify-content: center"></div>
      </div>

      {% endfor %} {% else %}
      <h3 style="text-align: center; color: #dc3545; margin-top: 2rem">
        No Data Found
      </h3>
      {% endif %}
    </div>

    {% endif %}
    <script
      src="https://kit.fontawesome.com/e50a128556.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
