{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
  </head>
  <body style="background-color: #000; max-height: 100vh">
    <form style="margin: 5rem 37.5rem" action="" method="POST">
      {% csrf_token %}
      <h1 style="text-align: center">SignUp As</h1>
      <button class="button-34" onclick="setRole('Doctor')">Doctor</button>
      <button class="button-34" onclick="setRole('Nurse')">Nurse</button>
      <button class="button-34" onclick="setRole('Patient')">Patient</button>
      <button class="button-34" onclick="setRole('Admin')">Admin</button>
      <input type="text" name="role" id="role" hidden />
      <button
        class="button-34"
        hidden
        style="cursor: pointer; position: absolute; bottom: 10px; right: 10px"
        type="submit"
      >
        Next
      </button>
    </form>
    <div id="signin-links" style="margin: auto 37.5rem">
      <h1 style="text-align: center">SignIn As</h1>
      <a style="text-decoration: none" href="{% url 'signin' 'Doctor' %}"
        ><button class="button-34">Doctor</button></a
      >
      <a style="text-decoration: none" href="{% url 'signin' 'Nurse' %}"
        ><button class="button-34">Nurse</button></a
      >
      <a style="text-decoration: none" href="{% url 'signin' 'Patient' %}"
        ><button class="button-34">Patient</button></a
      >
      <a style="text-decoration: none" href="{% url 'signin' 'Admin' %}"
        ><button class="button-34">Admin</button></a
      >
    </div>

    <script>
      function setRole(temp) {
        document.getElementById("role").value = temp;
      }
    </script>
  </body>
</html>
