{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
  </head>
  <body>
    <div class="container" style="margin:1rem auto">
      <form action="{% url 'signup' role %}" method="POST">
        <h1 style="text-align: center">Add {{role}}</h1>
        {%if errors%}
        <div id="errors">
          
            {%for error in errors%}
            <p style="background-color :#dc3545;color: #fff;margin:0.5rem 1rem; padding:0.3rem;border-radius: 4px;">{{error}}</p>
            {%endfor%}
          </ul>
        </div>
        {%endif%}
        {% csrf_token %} 
        <div>
          <input type="text" hidden name="role" value="{{role}}" />
        </div>
        <div class="input-group input-group-icon">
          <input
            type="text"
            value="{{first_name}}"
            name="first_name"
            id="first_name"
            required
            placeholder="First Name"
          />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="text"
            value="{{last_name}}"
            name="last_name"
            id="last_name"
            required
            placeholder="Last Name"
          />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="text"
            value="{{username}}"
            name="username"
            id="username"
            required
            placeholder="User Name"
          />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="email"
            value="{{email}}"
            name="email"
            id="email"
            placeholder="Email"
          />
          <div class="input-icon"><i class="fa fa-envelope"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
          min="1"
            type="number"
            value="{{age}}"
            name="age"
            id="age"
            required
            maxlength="100"
            placeholder="Age"
            
          />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="password"
            name="password1"
            id="pass1"
            required
            placeholder="Password"
          />
          <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="password"
            name="password2"
            id="pass2"
            required
            placeholder="Confirm Password"
          />
          <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
        {% if role == 'Doctor' %}
        <div class="input-group input-group-icon">
          <input
            type="text"
            value="{{degree}}"
            name="degree"
            id="degree"
            required
            maxlength="100"
            placeholder="Degree"
          />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="text"
            name="specialization"
            id="specialization"
            required
            maxlength="100"
            value="{{specialization}}"
            placeholder="Specialization"
          />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        {%endif%}

        {%if role == 'Patient' %}
        <div class="input-group input-group-icon">
          <input
            type="text"
            value="{{disease_name}}"
            name="disease_name"
            id="disease_name"
            maxlength="100"
            placeholder="Disease Name"
            required
          />
          <div class="input-icon"><i class="fa-solid fa-disease"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="number"
            value="{{disease_stage}}"
            name="disease_stage"
            id="disease_stage"
            
            maxlength="100"
            placeholder="Disease Stage"
            required
          />
          <div class="input-icon"><i class="fa-solid fa-disease"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="number"
            value="{{phone}}"
            name="phone"
            id="phone"
           
            maxlength="11"
           
            placeholder="Phone Number" 
            required
          />
          <div class="input-icon"><i class="fa-solid fa-phone"></i></div>
        </div>
          <div class="input-group input-group-icon">
            <input
              type="text"
              value="{{address_city}}"
              name="address_city"
              id="address_city"
              
              maxlength="100"
              placeholder="City"
              
            />
            <div class="input-icon"><i class="fa-solid fa-city"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input
              type="text"
              value="{{address_state}}"
              name="address_state"
              id="address_state"
              
              maxlength="100"
              placeholder="State"
             
            />
            <div class="input-icon"><i class="fa-solid fa-flag-usa"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input
              type="text"
              value="{{address_country}}"
              name="address_country"
              id="address_country"
              
              maxlength="100"
              placeholder="Country"
             
            />
            <div class="input-icon"><i class="fa-solid fa-globe"></i></div>
          </div>
            <div class="input-group input-group-icon">
              <input
                type="text"
                value="{{address}}"
                name="address"
                id="address"
     
              placeholder="House Address"
                
              />
              <div class="input-icon"><i class="fa-solid fa-location-dot"></i></div>
            </div>
        <div class="input-group input-group-icon my-select-field">
          <select  style="padding-left: 5.2rem;" name="doctor" id="docs" required >
            {% if user.is_authenticated and user.is_staff %}
            <option value="" disabled selected>Select Doctor</option>
            {% for doc in docs %}
            <option value="{{doc}}">{{doc}}</option>
            {% endfor %}

            {% elif user.is_authenticated and not user.is_staff %}
            <option value="{{request.user}}" disabled selected>{{request.user}}</option>
            {% endif %}
          </select>
           
          <div class="input-icon"><i class="fa-solid fa-user-doctor"></i></div>
        </div>

        {%endif%}

        {% if role == 'Nurse' %}
        <div class="input-group input-group-icon">
          <input
            type="number"
            value="{{phone}}"
            name="phone"
            id="phone"
            required
            maxlength="11"
           
            placeholder="Phone Number" 
            required
          />
          <div class="input-icon"><i class="fa-solid fa-mobile"></i></div>
        </div>
        <div class="input-group input-group-icon my-select-field">
          <select  style="padding-left: 5.2rem;" name="doctor" id="docs" required >
            {% if user.is_authenticated and user.is_staff %}
            <option value="" disabled selected>Select Doctor</option>
            {% for doc in docs %}
            <option value="{{doc}}">{{doc}}</option>
            {% endfor %}

            {% elif user.is_authenticated and not user.is_staff %}
            <option value="{{request.user}}" disabled selected>{{request.user}}</option>
            {% endif %}
          </select>
           
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>

        {% endif %}

        <div>
         <button style="margin-left:11rem; width:50%" class="button-34" type="submit">Add {{role}}</button> 
        </div>
      </form>
      {% if not user.is_authenticated %}
      <div style="text-align: center;margin-top: 1rem;">
        Already have an account? <a style="text-decoration: none;" href="{% url 'signin' role %}">SignIn Now</a>
      </div>
      {% endif %}
    </div>
    <script
      src="https://kit.fontawesome.com/e50a128556.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
